.Logo {
  background-image: url(./frontdesklogo.png);
}

.App-logo {
  border-radius: 10px;
  height: 4vmin;
  pointer-events: none;
}

.show-on-print {
  display: none !important;
}
@media print {
  /* All your print styles go here */
  .hide-on-print {
    display: none !important;
  }
  .show-on-print {
    display: block !important;
  }
}
